<html>
  <head>
    <title>Try to click me everyday</title>
    <link rel="stylesheet" type="text/css" href="static/main.css">
    <script src="static/jquery-2.1.4.min.js"></script>
    <script src="static/main.js"></script>
  </head>
  <body>
    <p>
      This is a small project I'm running. I want to know how hard it would be for me to click on this block below at least one time a day. I will log the time I click on the block This seems like so easy a job but we will see the results. Everything starts on 11/10/2015. Statistics will be visualized once I have enough data. I shall add more things to log later, but this is a start.
    </p>
    <div id="clickBlock"></div>
    <p id="thisHourCount"></p>
  </body>
</html>
